*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    
}
div{
    text-align: center;
}
h1{
    font-size: 20px;
}
li{
    display: inline-block;
    padding: 10px;
}
li:hover{
    color: palevioletred;
    cursor: pointer;
}
header{
    top: 0; 
    left: 0; 
    right: 0;
    background-color: white;
    padding: 32px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}
.primerasec{
    display: flex;
    align-items: center;
    min-height: 85vh;
    background: url(japonnn.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
a{
    text-decoration: none;
    color: black;
    font-family: "Elms Sans";
}
section div{
    background-color: white;
    padding: 10px;
    margin: 0 120px;
    height: 400px;
    border-radius: 20px;
    width: 100%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}
section div h1{
    background-color: pink;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    padding: 10px;
    width: 50%;
    text-align: center;
    font-family: "Elms Sans";
    border-radius: 10px;
}
section div h2{
    width: 50%;
    margin-left: 10px;
    padding: 5px 10px 0 10px;
    font-family: "Elms Sans";
    font-size: 18px;
    margin-top: 20px;
}
section div p{
    width: 50%;
    margin-left: 10px;
    padding: 5px 10px 5px 10px;
}
section div h2+h2{
    background-color: rgb(119, 71, 231);
    
}
section div h2+h2+h2{
    background-color: rgb(231, 231, 150);
    
}
section div h2+h2+h2+h2{
    background-color: rgb(133, 248, 133);
    
}
li a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}