*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    
}
h1{
    font-size: 20px;
}
li{
    display: inline-block;
    padding: 10px;
}
li:hover{
    color: red;
    cursor: pointer;
}
header{
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0;
    background-color: white;
    padding: 32px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}
section{
    padding: 32px 120px;
}
.primerasec{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(photo-1542640244-7e672d6cef4e.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}