*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    
}
div{
    text-align: center;
}
h1{
    font-size: 20px;
}
li{
    display: inline-block;
    padding: 10px;
}
li:hover{
    color: palevioletred;
    cursor: pointer;
}
header{
    top: 0; 
    left: 0; 
    right: 0;
    background-color: white;
    padding: 32px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}
.primerasec{
    display: flex;
    align-items: center;
    min-height: 85vh;
    background: url(japonnn.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
a{
    text-decoration: none;
    color: black;
    font-family: "Elms Sans";
}
a:hover{
    color: palevioletred;
}
li a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
article{
    background-color: white;
    width: 800px;
    height: 400px;
    margin: 0 auto;
    left: 280px;
    border-radius: 20px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    position: relative;
    top: 0;
    left: 0;
}
article div:nth-of-type(1){
    position: absolute;
    top: 90px;
    right: 80px;
}   
article div:nth-of-type(2){
    
    background-color: pink;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    padding: 10px;
    width: 50%;
    text-align: center;
    font-family: "Elms Sans";
    border-radius: 10px;
}
article div:nth-of-type(3){
    width: 50%;
    margin-left: 10px;
    padding: 5px 10px 0 10px;
    font-family: "Elms Sans";
    font-size: 18px;
    margin-top: 20px;
}
article div:nth-of-type(3) p{
    width: 100%;
    padding: 10px 10px 10px 10px;
}